<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
    <h1>Welcome to StayAnywhere</h1>
{{> nav}}      
</div>


<h2 id="dashBoard"></h2>
      
{{#if  user.admin }}
<p> admin {{user.admin}}</p>
<a href="/createListings">Create a Listing</a> 
{{/if}}<p> {{user.fname}}</p>

<p> {{user.lname}}</p>
<p> {{user.email}}</p>
<p> {{user.password}}</p>


{{> footer}}      

</body>

</html>