<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
    <h1>Welcome to StayAnywhere</h1>
{{> nav}}      
</div>

{{#if  user.admin }}
 <button> <a href="/createListings">Create a Listing</a></button>
 <button> <a href="/editlistings">Edit listings</a></button>
{{/if}}

<h2 id="dashBoard"></h2>
<p> Hello {{user.fname}}</p>

{{#if  locals }}
<p>Booking Details </p>
<p>Where {{locals.listingRoomName}} </p>
<p>Number of days: {{this.locals.listingRoomName}} </p>
<p>Number of Guests  {{locals.guests}} </p>
<p>Cost  {{locals.Price}} </p>
{{/if}}

{{> footer}}      

</body>

</html>