<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav}}      
</div>


<h1>Welcome to StayAnywhere</h1>
<h3>XXXXXXXXXEOMEOCMEOPVMROPMVROPMV O M  RORO MR OP</h3>

<h2 id="dashBoard"></h2>
      
<p> {{data.email}}</p>
<p> {{data.fname}}</p>

<p> {{user.username}}</p>
<p> {{user.password}}</p>
<p> {{user.email}}</p>

<a href="/logout">Logout</a>  |     <a href="/">Home</a>

{{> footer}}      

</body>

</html>