<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="/Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav}}      


   <img src="/photos/{{photos.filename}}" style="width:90%;" />
        
      <div>Room Name : {{photos.roomName}}  </div>
      <div>Deccription {{photos.description}}  </div>
      <div>Price {{photos.price}}  </div>
      <div Location: {{photos.location}}</div>


<p>{{locals.message}}</p>
<form class="modal-content" action="/bookingRoom" method="POST" enctype="multipart/form-data">
<td><input type="hidden" name="listingRoomName" value="{{photos.roomName}}"/></td>
<td><input type="hidden" name="UserEmail" value="{{user.email}}"/></td>
<td><input type="hidden" name="priceanight" value="{{photos.price}}"/></td>


    <label for="start">Start date:</label>
    <input type="date" id="start" name="tripstart" min="2020-10-08" max="2021-12-31">

    <label for="end">End date:</label>
    <input type="date" id="end" name="tripend" min="2020-10-08" max="2021-12-31">

    <label for="guests1">Number of guests:</label>
    <input type="number" id="guests" name="guestsnumber" min="1" max="13">

      <input type="submit" value="Book" />

  </div>
</form>
</div>


{{> footer}}      

</body>

</html>

