<!DOCTYPE html>
<html lang="en">
{{> header}}      

<body>
    <img src="Images/StayAnywhere Logo.jpg" alt="logo" class="logo1">
{{> nav}}      

<p>Search via Locaton</p> 
<form action="/Listings" method="POST" enctype="multipart/form-data">
  <input type="radio" id="TORONTO" name="LOCATION" value="TORONTO">
  <label for="TORONTO">TORONTO</label><br>
  <input type="radio" id="PARIS" name="LOCATION" value="PARIS">
  <label for="PARIS">PARIS</label><br>
  <input type="radio" id="LONDON" name="LOCATION" value="LONDON">
  <label for="LONDON">LONDON</label>
  <input type="submit" value="Confirm Search" />
</form>


<tbody>
    {{#if hasPhotos }} {{#each photos}}
      <div>
        <img src="/photos/{{filename}}" style="width:90%;" />
      </div>
      <div>Room Name {{this.roomName}}  </div>
      <div>Deccription {{this.description}}  </div>
      <div>Price {{this.price}}  </div>
      <div Location: {{this.location}}</div>
      <td><a href="/details/{{roomName}}">More Details</a></td>
    {{/each}} {{else}}
    <p>
      You have no photos uploaded yet
    </p>
    {{/if}}
</tbody>

{{> footer}}      

</body>

</html>


